@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  color: rgb(195 133 92);
}

h1 {
  font-weight: 500;
  font-size: 40px;
}

h2,
legend {
  font-size: 28px;
  font-weight: 500;
}

nav li {
  display: inline;
  padding: 0 15px;
}

nav a {
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
}

nav a:hover {
  color: rgb(104, 119, 89);
}

nav li:last-child {
  padding-right: 0;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  border-bottom: 5px solid rgb(104, 119, 89);
  background-color: rgb(111 63 96);
}

#category {
  display: flex;
  flex-wrap: wrap;
}

#category-item {
  width: 300px;
  margin: 10px;
  position: relative;
}

#category-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
}

#category-item:hover img {
  filter: blur(3px);
}

#category-item h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  color: #fff;
  font-size: 26px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#category-item:hover h3 {
  opacity: 1;
}

main {
  font-size: 22px;
}
section,
header {
  padding: 2rem 15rem;
}
.arrange {
  padding-top: 2rem;
}
.intro {
  padding: 10rem 30rem;
  word-spacing: 10px;
  letter-spacing: 3px;
  line-height: 40px;
}
.intro p {
  box-shadow: 7px 7px 15px rgb(104, 119, 89);
  padding: 15px;
}

.btn {
  background-color: rgb(111, 63, 96);
  box-shadow: 7px 7px 15px rgb(104, 119, 89);
  padding: 15px 32px;
  text-align: center;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  font-weight: 600;
  width: fit-content;
  margin-bottom: 5rem;
}
.btn:hover {
  background-color: rgb(104, 119, 89);
}
a {
  text-decoration: none;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 5px solid rgb(104, 119, 89);
  background-color: rgb(111 63 96);
  padding: 7px;
  font-weight: 600;
}
footer p {
  margin: 0 !important;
}
/* **************** About page ****************** */
.field {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 4px;
  font-size: 22px;
  font-weight: 500;
  border: rgb(111 63 96) 5px solid;
  border-radius: 5px;
}
fieldset {
  padding: 30px;
}
/* ******************** Event Page ************************** */
#event_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#event_container h3 {
  font-size: 28px;
  text-align: center;
}

#event_container img {
  width: 300px;
  height: 350px;
  float: left;
  margin-right: 20px;
}

#detail {
  flex: 1;
  margin-top: 20px;
}

#detail p {
  font-size: 16px;
  text-align: justify;
}

#detail video {
  width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

/* *******************  Media ********************** */
@media screen and (max-width: 768px) {
  #category {
    flex-direction: row;
    width: 100%;
    height: auto;
    margin: 10px 0;
  }

  #category img {
    height: auto;
  }
}
